# Session 1 - Homework
#### By Quynh Le

Part of the [Machine Learning Zoomcamp (September 2021 â€“ December 2021)](https://datatalks.club/courses/2021-winter-ml-zoomcamp.html)

In [34]:
# Import necessary libraries: 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Question 1: 
NumPy version is 1.19.2

In [35]:
np.__version__

'1.19.2'

#### Question 2: 
Pandas version is 1.3.2

In [36]:
pd.__version__

'1.3.2'

In [37]:
# Load data file with Pandas:
data = pd.read_csv('data.txt')
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [38]:
data.shape

(11914, 16)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

#### Question 3: 
Average price of BMW cars in the dataset is $61546.76

In [44]:
bmw = data[data['Make'] == 'BMW']

In [45]:
bmw.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [46]:
bmw.MSRP.mean()

61546.76347305389

In [47]:
#Another way to find average price of BMW cars
data.groupby('Make').MSRP.mean()

Make
Acura            3.488759e+04
Alfa Romeo       6.160000e+04
Aston Martin     1.979104e+05
Audi             5.345211e+04
BMW              6.154676e+04
Bentley          2.471693e+05
Bugatti          1.757224e+06
Buick            2.820661e+04
Cadillac         5.623132e+04
Chevrolet        2.835039e+04
Chrysler         2.672296e+04
Dodge            2.239006e+04
FIAT             2.267024e+04
Ferrari          2.382188e+05
Ford             2.739927e+04
GMC              3.049330e+04
Genesis          4.661667e+04
HUMMER           3.646441e+04
Honda            2.667434e+04
Hyundai          2.459704e+04
Infiniti         4.239421e+04
Kia              2.531017e+04
Lamborghini      3.315673e+05
Land Rover       6.782322e+04
Lexus            4.754907e+04
Lincoln          4.283983e+04
Lotus            6.918828e+04
Maserati         1.142077e+05
Maybach          5.462219e+05
Mazda            2.003938e+04
McLaren          2.398050e+05
Mercedes-Benz    7.147623e+04
Mitsubishi       2.124054e+04
Nissan           2.858343e+04
Oldsmobile       1.154254e+04
Plymouth         3.122902e+03
Pontiac          1.932155e+04
Porsche          1.016224e+05
Rolls-Royce      3.511306e+05
Saab             2.741350e+04
Scion            1.993250e+04
Spyker           2.133233e+05
Subaru           2.482750e+04
Suzuki           1.790721e+04
Tesla            8.525556e+04
Toyota           2.903002e+04
Volkswagen       2.810238e+04
Volvo            2.854116e+04
Name: MSRP, dtype: float64

#### Question 4: 
For the subset of cars after 2015, there are 51 missing values in Engine HP variable.

In [48]:
after_2015 = data[data['Year'] >= 2015]

In [52]:
after_2015.Year.unique()

array([2017, 2016, 2015], dtype=int64)

In [53]:
after_2015['Engine HP'].isnull().sum()

51

In [57]:
after_2015.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

#### Question 5:
- Average "Engine HP" in the dataset is 249
- After filling missing data of Engine HP with mean value using the 'fillna' method, the average "Engine HP" does not change.

In [72]:
mean_hp_before = data['Engine HP'].mean()

In [73]:
print(round(mean_hp_before))

249

In [68]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [71]:
#Fill missing values in Engine HP with average value of the column:
data_fillna = data['Engine HP'].fillna(value=data['Engine HP'].mean())

In [74]:
mean_hp_after = data_fillna.mean()
print(round(mean_hp_after))

249

#### Question 6:

The sum of all elements of the result is 0.0322

In [75]:
rolls_royce = data[data['Make'] == 'Rolls-Royce']
rolls_royce.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
2921,Rolls-Royce,Corniche,2001,premium unleaded (required),325.0,8.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury",Large,Convertible,15,10,86,359990
3505,Rolls-Royce,Dawn,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,2.0,"Exotic,Luxury,High-Performance",Large,Convertible,19,12,86,335000
5275,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,286750
5276,Rolls-Royce,Ghost Series II,2015,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,319400
5277,Rolls-Royce,Ghost Series II,2016,premium unleaded (required),563.0,12.0,AUTOMATIC,rear wheel drive,4.0,"Exotic,Luxury,Performance",Large,Sedan,21,13,86,295850

In [88]:
r = rolls_royce[['Engine HP', 'Engine Cylinders', 'highway MPG']]
r.head()

      Engine HP  Engine Cylinders  highway MPG
2921      325.0               8.0           15
3505      563.0              12.0           19
5275      563.0              12.0           21
5276      563.0              12.0           21
5277      563.0              12.0           21

In [122]:
r_nodup = r.drop_duplicates()
r_nodup

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [123]:
X = pd.DataFrame.to_numpy(r_nodup)
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [124]:
XTX = (X.T).dot(X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [125]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [126]:
XTX_inv.dot(XTX)

array([[ 1.00000000e+00, -1.73472348e-18,  8.21391566e-16],
       [ 1.84297022e-13,  1.00000000e+00,  1.39888101e-14],
       [-3.60211860e-13, -1.58206781e-14,  1.00000000e+00]])

In [127]:
5.17815728e-05 + 9.06587044e-04*2 + -1.92984188e-03*2 + 1.05723058e-01 + 1.05900809e-01 + -8.87084092e-02*2

0.032212320500799974

#### Question 7:

First value of the first element of w is 0.19989598

In [117]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
y

array([1000, 1100,  900, 1200, 1000,  850, 1300])

In [118]:
type(y)

numpy.ndarray

In [120]:
w = (XTX_inv.dot(X.T)).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])